application-contentbridge/etc/Assessment.dtd

<!--

FILENAME:
       Assessment.dtd

TYPICAL INVOCATION:
        <!DOCTYPE Assessment PUBLIC
        "-//CTB//DTD Online Assessment System Authoring V 2.0//EN">

PURPOSE:
	  This file defines structures for CTB questions to be authored
	  for Release 4 of the Online Assessment System.
	  
CHANGE HISTORY:
	Initial Draft  					Sudha 			11-30-2005
    -->
<!-- ============== PARAMETER ENTITY DECLARATIONS -->
<!ENTITY % HTMLlat1 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN" "entities/xhtml-lat1.ent">
%HTMLlat1;
<!ENTITY % HTMLsymbol PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN" "entities/xhtml-symbol.ent">
%HTMLsymbol;
<!ENTITY % HTMLspecial PUBLIC "-//W3C//ENTITIES Special for XHTML//EN" "entities/xhtml-special.ent">
%HTMLspecial;

<!-- =======   URI attribute used to identify linked information -->
<!ENTITY % URI "CDATA">
<!ENTITY ldquo "&quot;">
<!ENTITY rdquo "&quot;">
<!ENTITY apos "'">

<!-- ===========================================================================
	Element: Assessment
  =========================================================================== -->
  
<!ELEMENT Assessment (Comments?, Description?, SchedulableUnit+, Acknowledgment?)>
<!ATTLIST Assessment
	ID 		CDATA #REQUIRED
	ProductID 	CDATA #REQUIRED
	FrameworkCode     CDATA #IMPLIED
	CommodityCode 	CDATA #IMPLIED
	Grade 		CDATA #IMPLIED
	Level 		CDATA #IMPLIED
	Title 		CDATA #REQUIRED
	Author 		CDATA #IMPLIED
	CreationDate 	CDATA #IMPLIED
	ParallelForms 	(yes | no) "no"
	MaxPanelWidth	CDATA #IMPLIED
	IncludeAcknowledgment	(yes | no) "no"
>
<!-- ===========================================================================
	Element: SchedulableUnit
  =========================================================================== -->
<!ELEMENT SchedulableUnit (Comments?, DeliverableUnit+)>
<!ATTLIST SchedulableUnit
	ID 		CDATA #REQUIRED
	Title 		CDATA #REQUIRED
	TimeLimit 		CDATA #IMPLIED
	Grade 		CDATA #IMPLIED
	Level 		CDATA #IMPLIED
>
<!-- ===========================================================================
	Element: DeliverableUnit
  =========================================================================== -->
<!ELEMENT DeliverableUnit (Comments?, (TestItem | ThemePage | RandomizationBlock)+)>
<!ATTLIST DeliverableUnit
	ID 			CDATA #REQUIRED
	Type 			( sample | standard | survey ) "standard"
	ContentArea 		CDATA #REQUIRED
	Grade 		CDATA #IMPLIED
	Level 			CDATA #IMPLIED
	Title 			CDATA #REQUIRED
	Form 			CDATA #REQUIRED
	StartItemNumber		CDATA #IMPLIED
	TimeLimit 		CDATA #IMPLIED
>
<!-- ===========================================================================
	Element: RandomizationBlock
  =========================================================================== -->
<!ELEMENT RandomizationBlock (TestItem)+>

<!-- ===========================================================================
	Element: TestItem
  =========================================================================== -->
<!ELEMENT TestItem (Item)>
<!ATTLIST TestItem
	Sample 		(yes | no) "no"
	SuppressScore 	(yes | no) "no"
	FieldTest 	(yes | no) "no"
	ScaleScore 	(yes | no) "no"
>

<!-- ===========================================================================
   Element:  ItemSet
   =========================================================================== -->
<!ELEMENT ItemSet (Comments?, (Item | ThemePage)+ )>
<!ATTLIST ItemSet
	ID 		CDATA #REQUIRED
	Author 		CDATA #IMPLIED
>

<!ELEMENT Item (StudentDirections?, Stimulus?, LeadIn?, Stem*, (ConstructedResponse | SelectedResponse)?, ThinkCode?, Manipulative*, Comments?)>
<!ATTLIST Item
	ID 		CDATA #REQUIRED
	Grade		(K | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | Adult | EOC) "3"
	DisplayID 	CDATA #IMPLIED
	Author 		CDATA #IMPLIED
	ItemType 	(SR | CR | NI) "SR"
	ExternalID 	CDATA #IMPLIED 
	ExternalSystem  (PEID | Monarch| na) "na"
	AllowRevisit (true | false) "true"
	AllowRevisitOnRestart (true | false) "true"
>

<!ELEMENT StudentDirections (Text|Graphic|Table)*>
<!ATTLIST StudentDirections
	ID 		CDATA #IMPLIED
	Alt             CDATA #IMPLIED
	Audible     	(yes | no) "yes"
	x		CDATA #IMPLIED
	y		CDATA #IMPLIED
	width		CDATA #IMPLIED
	height		CDATA #IMPLIED
	widgetlayout 	(vertical | horizontal) "vertical"
	widgetspacing	CDATA #IMPLIED
>

<!-- a component that is necessary to answer a given set of items -->
<!ELEMENT Stimulus (StimulusDirections?, (Graphic | Passage | Text | Table | CRResponseArea)*)>
<!ATTLIST Stimulus
	ID 		CDATA #REQUIRED
	Grade		(K | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | Adult | EOC) "3"
	DisplayID 	CDATA #IMPLIED
	ExternalID 	CDATA #IMPLIED 
	ExternalSystem  (PEID | Monarch| na) "na"
	Alt             CDATA #IMPLIED
	x		CDATA #IMPLIED
	y		CDATA #IMPLIED
	width		CDATA #IMPLIED
	height		CDATA #IMPLIED
	location 	(left|right|across) "across"
	widgetlayout 	(vertical | horizontal|tab) "vertical"
	widgetspacing 	CDATA #IMPLIED
>

<!ELEMENT StimulusDirections (Text|Graphic|Table|CRResponseArea)*>
<!ATTLIST StimulusDirections
	ID 		CDATA #IMPLIED
	Alt             CDATA #IMPLIED
	Audible     	(yes | no) "yes"
	x		CDATA #IMPLIED
	y		CDATA #IMPLIED
	width		CDATA #IMPLIED
	height		CDATA #IMPLIED
	widgetlayout 	(vertical | horizontal) "vertical"
	widgetspacing 	CDATA #IMPLIED
>

<!-- usually a reading passage from which the student must gather
facts and reach conclusions -->
<!ELEMENT Passage (Text | Heading |Graphic| Table | Acknowledgment | CRResponseArea)*>
<!ATTLIST Passage
	LengthInWords 	CDATA #IMPLIED
	Readability 	CDATA #IMPLIED
	Genre 		CDATA #IMPLIED
	Audible     	(yes | no) "yes"
	ID 		CDATA #IMPLIED
	TabTitle	CDATA #IMPLIED
	title		CDATA #IMPLIED
	width		CDATA #IMPLIED
	height		CDATA #IMPLIED
	widgetlayout 	(vertical | horizontal) "vertical"
	widgetspacing 	CDATA #IMPLIED
>

<!ELEMENT Heading (Text|Graphic|Title|Byline)*>
<!ATTLIST Heading 
	halign		(left | center | right) "center"
>

<!ELEMENT Title (Text|Graphic)*>

<!ELEMENT Byline (Text|Graphic)*>
<!ATTLIST Byline 
	halign		(left | center | right) "center"
>

<!ELEMENT Acknowledgment (Text|Graphic)*>
<!ATTLIST Acknowledgment
	ID 		CDATA #IMPLIED
>

<!ELEMENT LeadIn (Text|Graphic|Table)*>

<!ELEMENT Stem (Text|Graphic|Table|CRResponseArea)*>
<!ATTLIST Stem
	ID 		CDATA #IMPLIED
	Alt             CDATA #IMPLIED
	Audible     	(yes | no) "yes"
	x		CDATA #IMPLIED
	y		CDATA #IMPLIED
	width		CDATA #IMPLIED
	height		CDATA #IMPLIED
	location 	(left|right|across) "across"
	widgetlayout 	(vertical | horizontal) "vertical"
	widgetspacing 	CDATA #IMPLIED
>

<!-- Constructed Response; an essay-type answer -->
<!ELEMENT ConstructedResponse (AnswerArea*, Rubric?)>
<!ATTLIST ConstructedResponse
	ID 		CDATA #IMPLIED
	MaxScorePts 	CDATA #REQUIRED
	MinScorePts 	(0 | 1) "0"
	ResponseType 	(online | paper | both) "both"
	Alt             CDATA #IMPLIED
	Audible     	(yes | no) "yes"
	x		CDATA #IMPLIED
	y		CDATA #IMPLIED
	width		CDATA #IMPLIED
	height		CDATA #IMPLIED
	location 	(left|right|across) "across"
	widgetlayout 	(vertical | horizontal) "vertical"
	widgetspacing 	CDATA #IMPLIED
>

<!ELEMENT AnswerArea (AnswerAreaDirection?, ((Grid|Line)* | (AudioItem)?), SubAnswerArea*)>
<!ATTLIST AnswerArea
	ID 		CDATA #IMPLIED
	Border  	(yes | no) "yes"
	CharacterCount  CDATA #IMPLIED
	OnlineVisible 	(yes | no) "yes"
>

<!ELEMENT AnswerAreaDirection (Text|Graphic)*>
<!ATTLIST AnswerAreaDirection
	ID 		CDATA #IMPLIED
>

<!ELEMENT Grid (gridcol)*>

<!ELEMENT gridcol (entry)*>

<!ELEMENT entry EMPTY>
<!ATTLIST entry
	value 	 CDATA #IMPLIED
	display	 CDATA #IMPLIED
>

<!ELEMENT Line (#PCDATA)*>
<!ATTLIST Line
	Visible 	(yes | no) "yes"
	Length 		(Short|Medium|Long) "Long"
	Count           CDATA #IMPLIED
>

<!ELEMENT SubAnswerArea (Text|Graphic)*>
<!ATTLIST SubAnswerArea
	ID 		CDATA #IMPLIED
>

<!ELEMENT Rubric (Text|Graphic)*>
<!ATTLIST Rubric
	ID 		CDATA #IMPLIED
>

<!-- Selected Response; multiple choice, where the answer choices
are given to the student and for which there is only one correct
answer -->
<!ELEMENT SelectedResponse (AnswerChoice)+>
<!ATTLIST SelectedResponse
	ID 		CDATA #IMPLIED
	NumberAnswerChoices (2 | 3 | 4 | 5) "4"
	Alt             CDATA #IMPLIED
	Audible     	(yes | no) "yes"
	x		CDATA #IMPLIED
	y		CDATA #IMPLIED
	width		CDATA #IMPLIED
	height		CDATA #IMPLIED
	location 	(left|right|across) "across"
	stack 		( Z | N | na ) "na"
	SelectorPosition (leftcenter|bottomcenter|lefttop|default) "default"
	widgetlayout 	(vertical | horizontal) "vertical"
	widgetspacing 	CDATA #IMPLIED
>
<!ELEMENT AnswerChoice (Text|Graphic|Table|DistractorRationale)*>
<!ATTLIST AnswerChoice
	Type 		(Distractor | Correct) "Distractor"
>
<!ELEMENT DistractorRationale (Text)>
<!ATTLIST DistractorRationale
	DisplayMessage 	CDATA #IMPLIED
>

<!-- Graphic Component -->
<!ELEMENT Graphic (Flash | EPSPrint | Acknowledgment)*>
<!ATTLIST Graphic
	ID 		CDATA #IMPLIED
	Alt 		CDATA #IMPLIED
	TabTitle	CDATA #IMPLIED
	width           CDATA #IMPLIED
	height          CDATA #IMPLIED
	inlineAlign	(top | middle | bottom | left | right) "bottom"
	valign 		(top | middle | bottom) "top"
	halign		(left | center | right) "left"
>

<!ELEMENT Flash EMPTY>
<!ATTLIST Flash
	ID 			CDATA #IMPLIED
	FileName 		CDATA #REQUIRED
	height 		CDATA #IMPLIED
	width 		CDATA #IMPLIED
	Enlargeable		(yes | no | accommodated ) "no"
	autoenlargeable 	(yes | no ) "no"
>
<!ELEMENT EPSPrint EMPTY>
<!ATTLIST EPSPrint
	ID 		CDATA #IMPLIED
	FileName 	CDATA #REQUIRED
	height 		CDATA #IMPLIED
	width 		CDATA #IMPLIED
>


<!ELEMENT ThinkCode EMPTY>
<!ATTLIST ThinkCode
   	ThinkID		(0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10) #REQUIRED
>

<!ELEMENT Manipulative EMPTY>
<!ATTLIST Manipulative
    	Type 		(oneeighth_inch_ruler | cm_ruler | mm_ruler | half_inch_ruler | protractor | standard_calculator | formula_card | FCAT_formula_card | TN_formula_card | straight_edge |scientific_calculator ) #REQUIRED
	Provision 	(required | accommodated ) "required"
>

<!ELEMENT ThemePage (Text|Graphic)*>
<!ATTLIST ThemePage
   	ID 		CDATA #IMPLIED
>

<!-- emphasis, etc in all caps for Flash client -->
<!ELEMENT P (#PCDATA | U | I | B | BR | FONT | Footnote )*>
<!ATTLIST P
	IndentLevel 	CDATA #IMPLIED
>

<!ELEMENT B (#PCDATA | U | I | BR | FONT)*>
<!ELEMENT I (#PCDATA | U | B | BR | FONT)*>
<!ELEMENT U (#PCDATA | I | B | BR | FONT)*>

<!ELEMENT Footnote (#PCDATA) >
<!ATTLIST Footnote
	header	CDATA #IMPLIED
	detail 	CDATA #IMPLIED
>

<!ELEMENT FONT (#PCDATA | U | I | B)*>
<!ATTLIST FONT
	face CDATA #IMPLIED
	size CDATA #IMPLIED
	color CDATA #IMPLIED
>

<!ELEMENT Table (Row)*>
<!ATTLIST Table
	halign	(left | center | right) "left"
	title		CDATA #IMPLIED
	titlewidth  CDATA #IMPLIED
	border 	(yes | no) "yes"
	showvlines	(yes | no) "yes"
	showhlines	(yes | no) "yes"
	enlargeable	(yes | no | accommodated) "no"
	autoenlargeable	(yes | no | fixed | fitpanel) "no"
>

<!ELEMENT Row (Cell)*>
<!ATTLIST Row
	height	CDATA #IMPLIED
>

<!ELEMENT Cell (Text|Graphic|CRResponseArea)*>
<!ATTLIST Cell
	bgcolor 	CDATA #IMPLIED
	fgcolor	CDATA #IMPLIED
	halign	(left | center | right) "center"
	valign	(top | middle | bottom) "middle"
	width			CDATA #IMPLIED
>


<!ELEMENT Text (#PCDATA | BR | U | I | B | P | FONT | Footnote | OrderedList | UnorderedList | Graphic | Acknowledgment | CRResponseArea)*>
<!ATTLIST Text
	halign		(left | center | right) "left"
	AltText	CDATA #IMPLIED
	TabTitle	CDATA #IMPLIED
	width           CDATA #IMPLIED
	height          CDATA #IMPLIED
	border          (yes | no) "no"
>

<!-- break: line break by default; can also be page break -->
<!ELEMENT BR EMPTY>
<!ATTLIST BR
	Type 		(Line | Page) "Line"
>

<!ELEMENT OrderedList (ListItem+)>
<!ELEMENT UnorderedList (ListItem+)>
<!ELEMENT ListItem (Text)*>


<!ELEMENT Description (#PCDATA)>
<!ELEMENT Comments (Comment)+>
<!ELEMENT Comment (Text)*>
<!ATTLIST Comment
	ID 		CDATA #IMPLIED
	UserName 	CDATA #IMPLIED
	DateStamp 	CDATA #IMPLIED
>

<!ELEMENT CRResponseArea EMPTY>
<!ATTLIST CRResponseArea
	Type     (singleLine | multiLine) "singleLine"
	ID       CDATA #IMPLIED
	Halign   (left | center | right) "left"
	width                 CDATA #IMPLIED
	accommodatedWidth     CDATA #IMPLIED
	height                 CDATA #IMPLIED
	accommodatedHeight     CDATA #IMPLIED
	formatBar (true | false) "true"
	lines (true | false) "true"
	charLimit        CDATA #IMPLIED
	softWordLimit    CDATA #IMPLIED
	hardWordLimit    CDATA #IMPLIED
>
<!ELEMENT AudioItem EMPTY>
<!ATTLIST AudioItem
	x				    CDATA #IMPLIED
	y				    CDATA #IMPLIED
	width				CDATA #IMPLIED
	height				CDATA #IMPLIED
	totalTime		    CDATA #REQUIRED
	pausable        	(true | false) "false"
	playable        	(true | false) "false"
	timer           	(true | false) "true" 
	progressBar	    	(true | false) "true"
	showActivityLevel 	(true | false) "true"
>
