application-contentbridge/etc/R2_Flash_UI_SOFA.dtd

<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by TONY BALTERA (CTB/McGRAW HILL) -->
<!--

FILENAME:
       R2_Flash_UI.dtd

TYPICAL INVOCATION:
        <!DOCTYPE Assessment PUBLIC
        "-//CTB//DTD Online Assessment System Authoring V 2.0//EN">

PURPOSE:
	  This file defines structures for CTB questions to be authored
	  for Release 3 of the Online Assessment System.
	  
CHANGE HISTORY:
      20020116		0.1   EJ		Initial Draft
	20020117		0.3	EJ		Took out HTML Tables	
	20020118		0.5	EJ		Conformed naming conventions, updated comments.
	20020131		0.9	EJ		Updated hierarchy, changed ID to type CDATA

	20020805		0.95	DAS		Forked R1_Flash_UI.DTD and renamed new DTD R2_Flash_UI.DTD.
	20020805		0.95	DAS		Updated <item template> to include discreet list.
	20020805		0.95	DAS		<br/> added as valid subelement wherever <p> and <b> exist.
	20020805		0.95	DAS		Changed <graphic> to be an empty tag, no sub-elements.
	20020805		0.95	DAS		Updated <SR NumberAnswerChoices> values to be discreet list.
	20020805		0.95	DAS		Added &apos; as valid entity.
	20020805		0.95	DAS		Temporarily make <p> and <para> siblings everywhere.
	20020805		0.95	DAS		Added <comments> element and <comment> subelement.
	20020805		0.95	DAS		Added <metadata> element for <item> level.
	20020806		0.96	DAS		Added <comments> to levels of DTD above <item>.
	20020806		0.96	DAS		Added "version" attribute to Item, ItemSet, and SampleSet.
	20020806		0.96	DAS		Removed <para> from DTD, replacing it with <p>.
	20020806		0.96	DAS		Added Indent attribute from <para> to <p>.
	20020807		0.97	DAS		Changed <CR> to <ConstructedResponse>.
	20020807		0.97	DAS		Changed <SR> to <SelectiveResponse>.
	20020807		0.97	DAS		Added new FolderType attribute to <Metadata>.
	20020807		0.97	DAS		Added new MediaType attribute to <Graphic>.
	20020813		0.98	DAS		Changed <SelectiveResponse> to <SelectedResponse>.
	20020813		0.98	DAS		Changed <Metadata> to <Hierarchy>.
	20020813		0.98	DAS		Removed "Folder" from <Hierarchy> attribute names.
	20020813		0.98	DAS		Added new <Hierarchy> attribute called "Number".
	20020813		0.98	DAS		Added optional ID attribute to <Comment>.
	20020814		0.99	DAS		Added new CurriculumID attribute for <Hierarchy>.
	20020911		1.00	DAS		Added ProductID and ProductName attributes to <Assessment>.
	20020911		1.00	DAS		Renamed <SubTest> attribute from "description" to "Description".
	20020911		1.00	DAS		Made <SubTest> attribute #IMPLIED instead of #REQUIRED.
	20020911		1.00	DAS		Renamed <SubTest> attribute "Number" to be called "Form".
	20020911		1.00	DAS		Added new <SubTest> attribute "Level" in addition to "Grade".
	20020911		1.00	DAS		Added Form, Level, and Description attributes to <Assessment>.
	20020930		1.01	DAS		Moved <Comments> within an <Item> to the end.
	20020930		1.01	DAS		Added <Graphic> to %text; entity declaration.
	20020930		1.01	DAS		Added new %blocktext; entity declaration.
	20020930		1.01	DAS		Changed content of <Passage> to be %text;.
	20020930		1.01	DAS		Changed content of <Comment> to allow %text;.
	20020930		1.01	DAS		Moved LeadIn to in front of Stimulus inside Item.
	20020930		1.01	DAS		Changed data values for Item Template to go to 25.
	20020930		1.01	DAS		Added Acknowledgement as subelement to Stimulus.
	20020930		1.01	DAS		Add Author and CreationDate to upper level elements.
	20020930		1.01	DAS		Added ProductID and ProductName to Subtest.
	20021021		1.02	DAS		Added Flash, BMPPrint and EPSPrint as optional subelements to Graphic.
	20021021		1.02	DAS		Removed MediaType attribute from <Graphic>.
	20021021		1.02	DAS		Moved most attributes from <Graphic> to its sub-elements.
	20021022		1.03	DAS		Changed TitleImage to be OPTIONAL, not REQUIRED.
	20021029		1.04	DAS		Added new "None" default value for <Item> attribute Manipulative.
	20021217		1.51	DAS		Added ItemType attribute to Item, defaults to "SR".
	20021217		1.51	DAS		Added AnswerArea and Rubric to ConstructedResponse.
	20021217		1.51	DAS		Removed FullCreditDesc, FullCreditExmp, PartCreditExmp, and ScorePoints.
	20021218		1.52	DAS		Per MDR, Added "ItemHistory" attribute to Item to capture internal ID for states.
	20021218		1.53	DAS		Added missing '*' at end of %blocktext; for the Rubric definition.
	20030113		1.54	DAS		Per Eddie Jun, added Customername as new attribute for Assessment.
	20030206		1.55	DAS		Per Eddie Jun, added DisplayAlways attribute to StudentDirections element.
	20030214		1.56	DAS		Added in XHTML standard entity references to enable white space and other chars.
	20030310		1.57	DAS		Added DisplayID to Item element for implementation of State-specific content.
	20030317		1.58	DAS		Added Line element for Answer Areas.
	20030317		1.58	DAS		Added superscript and subscript as part of %text;.
	20030317		1.58	DAS		Removed P element from %text; and added it separately to all elements currently relying on %text;.
	20030317		1.58	DAS		Loosened data model for Graphic to allow for BMPPrint, Flash, and EPSPrint in any order.
	20030317		1.58	DAS		Changed contents of Comment to include TextBox, OrderedList, UnorderedList, and Equation.
	20030317		1.58	DAS		Changed contents of StudentDirections to include TextBox, OrderedList, UnorderedList, and Equation.
	20030317		1.58	DAS		Changed contents of TextBox to include TextBox, OrderedList, UnorderedList, and Equation.
	20030319		1.58	DAS		Modified data values for Item Template attribute to include CR values.
	20030319		1.58	DAS		Add LineCount attribute to TextBox element for proper display size in PDF.
	20030319		1.58	DAS		Add BoxDirection as optional first sub-element of TextBox.
	20030319		1.58	DAS		Add BoxAnswer as optional last sub-element of TextBox.
	20030320		1.58	DAS		Made the ID attribute for AnswerChoice #REQUIRED.
	20030325		1.59	DAS		Added new USpace entity for FOP to force spaces between underlined text.
	20030325		1.59	DAS		Changed Hierarchy CurriculumID to be REQUIRED and Number to be IMPLIED.
	20030325		1.59	DAS		Removed TextBox as possible sub-element of TextBox.
	20030326		2.0	DAS		Change Graphic ID attribute from IMPLIED to REQUIRED for display in TeamXML.
	20030326		2.0	DAS		Removed SUP and SUB elements as unnecessary for Unicode implementation.
	20030326		2.0	DAS		Restrict TextBox to appear Only inside AnswerArea element.
	20030326		2.0	DAS		Remove P element and inline text elements from within TextBox.
	20030326		2.0	DAS		Remove all references to Equation element.
	20030326		2.0	DAS		Remove all references to A and FONT elements.
	20030326		2.0	DAS		Remove Direction element as superfluous.
	20030326		2.0	DAS		Replace Excerpt inside LeadIn with Acknowledgement as simpler data model.
	20030326		2.0	DAS		Remove RightsAndUse, Costs, and Terms as meaningless without Excerpt.
	20030403		2.01	DAS		Add back in SUP and SUB elements as Unicode workaround for FOP.
	20030404		2.02	DAS		Remove SUP and SUB elements again, as Unicode workaround not working.
	20030404		2.02	DAS		Add back in FONT element.
	20030408		2.03	DAS		Add in new "Type" attribute for Break element, with line and page values, defaults to line.
	20030408		2.03	DAS		Change back Graphic ID from REQUIRED to IMPLIED
        20030521                2.04    DN              Add BR Element to Stimus to allow page-break at end of Stimulus.
        20030521                2.04    DN              Add Center Attribute to BMPPrint, Flash, and ESPPrint.
     20030909         2.05   GH           Added attributes to Subtest: FrameworkCode, ScoreLookupID, ScoreTypeCode. 
                                                       Made ProductID, ContentArea attributes optional. Made ProductName, From, TimeLimit attributes required. 
                                                       Added description element
-->
<!-- ============== PARAMETER ENTITY DECLARATIONS -->
<!ENTITY % HTMLlat1 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN" "etc/xhtml-lat1.ent">
%HTMLlat1;
<!ENTITY % HTMLsymbol PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN" "etc/xhtml-symbol.ent">
%HTMLsymbol;
<!ENTITY % HTMLspecial PUBLIC "-//W3C//ENTITIES Special for XHTML//EN" "etc/xhtml-special.ent">
%HTMLspecial;
<!-- =======   URI attribute used to identify linked information -->
<!ENTITY % URI "CDATA">
<!ENTITY ldquo "&quot;">
<!ENTITY rdquo "&quot;">
<!ENTITY apos "'">
<!ENTITY USpace "&#160;">
<!-- Standard sets of text and modifiers -->
<!ENTITY % text "#PCDATA | BR | U | I | B | FONT | Graphic">
<!ENTITY % blocktext "BR|P|Graphic|OrderedList|UnorderedList">
<!-- ===========================================================================
	Element: Assessment

	Description: The top level tag for the DTD. Files build in accordance with
	this doctype have a 5 level hiearchy

	     Assessment
	         +- - -  SubTest+
                               +- - -  SampleSet*
                                    		  +- - - Item+
                               +- - -  ItemSet+
	                                    	  +- - -  Item+

	     Assessment
		   +- - - TitleImage?
		   +- - - Comments?
	         +- - -  SubTest+
					 +- - - Comments?
				       +- - - Description?
                               +- - -  (SampleSet | ItemSet)+
                                    		  +- - - (ThemePage | Item)+


		+- - - ThemePage
				+- - - ThemePageContent
						+- - - Graphic+
						+- - - (Passage|Break)+

	While an assessment may contain several SubTests it does
	not have to be resident within one XML file built to this DTD. A hierachy
	is defined here to allow for any potential breakdown.
  =========================================================================== -->
<!ELEMENT Assessment (TitleImage?, Comments?, SubTest+)>
<!ATTLIST Assessment
	ID CDATA #REQUIRED
	ProductID CDATA #REQUIRED
	ProductName CDATA #IMPLIED
	CustomerName CDATA #IMPLIED
	Grade CDATA #REQUIRED
	Level CDATA #IMPLIED
	Title CDATA #REQUIRED
	Form CDATA #IMPLIED
	Version CDATA #IMPLIED
	TimeLimit CDATA #IMPLIED
	Author CDATA #IMPLIED
	CreationDate CDATA #IMPLIED
	Description CDATA #IMPLIED
	FrameworkCode CDATA #IMPLIED
>
<!ELEMENT TitleImage EMPTY>
<!ATTLIST TitleImage
	Src %URI; #REQUIRED
>
<!-- ===========================================================================
	Element: SubTest

  =========================================================================== -->
<!ELEMENT SubTest (Comments?, Description?, (SampleSet | ItemSet)+)>
<!ATTLIST SubTest
	ID CDATA #REQUIRED
	ProductID CDATA #IMPLIED
	ProductName CDATA #REQUIRED
	ContentArea CDATA #IMPLIED
	Grade CDATA #REQUIRED
	Level CDATA #IMPLIED
	Title CDATA #REQUIRED
	Form CDATA #REQUIRED
	TimeLimit CDATA #REQUIRED
	Version CDATA #IMPLIED
	Author CDATA #IMPLIED
	CreationDate CDATA #IMPLIED
	FrameworkCode CDATA #REQUIRED
	ScoreLookupID CDATA #REQUIRED
	ScoreTypeCode CDATA #REQUIRED
    Description CDATA #IMPLIED
>
<!ELEMENT Description (#PCDATA)>
<!-- ===========================================================================
	Sample Items
   =========================================================================== -->
<!ELEMENT SampleSet (Comments?, (Item | ThemePage)+)>
<!ATTLIST SampleSet
	ID CDATA #REQUIRED
	Author CDATA #IMPLIED
	CreationDate CDATA #IMPLIED
	Version CDATA #IMPLIED
>
<!-- ===========================================================================
   Element:  ItemSet

   =========================================================================== -->
<!ELEMENT ItemSet (Comments?, (Item | ThemePage)+)>
<!ATTLIST ItemSet
	ID CDATA #REQUIRED
	Author CDATA #IMPLIED
	CreationDate CDATA #IMPLIED
	Version CDATA #IMPLIED
>
<!ELEMENT Item (Hierarchy?, StudentDirections?, LeadIn?, Stimulus?, Stem, (ConstructedResponse | SelectedResponse), ThinkCode?, Manipulative*, Comments?)>
<!ATTLIST Item
	Sample (Yes | No) "No"
	SuppressScore (Yes | No) "No"
	FieldTest (Yes | No) "No"
	ID CDATA #REQUIRED
	DisplayID CDATA #IMPLIED
	ItemHistory CDATA #IMPLIED
	SequenceNo CDATA #IMPLIED
	ObjectiveID CDATA #REQUIRED
	Version CDATA #IMPLIED
	Author CDATA #IMPLIED
	CreationDate CDATA #IMPLIED
	ItemType (SR | CR | RQ) "SR"
	Template (0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | CR1 | CR2) "1"
>

<!ELEMENT ThinkCode EMPTY>
<!ATTLIST ThinkCode
    ThinkID (0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10) #REQUIRED
>

<!ELEMENT Manipulative EMPTY>
<!ATTLIST Manipulative
    Type (RulerSIM | RulerSCM | RulerLIM | RulerLCM | Protractor | Tangram | Calculator | Equations) #REQUIRED
>

<!ELEMENT ThemePage (ThemePageContent)>
<!-- TODO - KT - Please update ThemePage templates with correct numeric values -->
<!-- TODO - 
Add Text Areas (1), required, full font support, underline, bold, Paragraph, break. Similar to a passage
Add Graphic Area (+), required, SWF, eps,bmp 
Add Part Information - done in attribute
-->
<!ATTLIST ThemePage
    Template (0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10) #REQUIRED
    Part CDATA #REQUIRED
>

<!ELEMENT StopPage EMPTY>
<!ATTLIST StopPage
    Template (0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10) #REQUIRED
    Seconds CDATA #IMPLIED
>


<!-- the text of an Item -->
<!ELEMENT Hierarchy (Hierarchy?)>
<!ATTLIST Hierarchy
	ID CDATA #IMPLIED
	CurriculumID CDATA #REQUIRED
	Type CDATA #IMPLIED
	Name CDATA #REQUIRED
	Number CDATA #IMPLIED
>
<!ELEMENT Comments (Comment)+>
<!ELEMENT Comment (%text; | P | OrderedList | UnorderedList)*>
<!ATTLIST Comment
	ID CDATA #IMPLIED
	UserName CDATA #IMPLIED
	DateStamp CDATA #IMPLIED
>
<!ELEMENT StudentDirections (%text; | P | OrderedList | UnorderedList)*>
<!ATTLIST StudentDirections
	ID CDATA #IMPLIED
	DisplayAlways (Yes | No) "No"
>
<!ELEMENT LeadIn (%blocktext; | Acknowledgement)*>
<!ELEMENT Stem (%blocktext;)*>
<!-- Constructed Response; an essay-type answer -->
<!ELEMENT ConstructedResponse (AnswerArea, Rubric?)>
<!ATTLIST ConstructedResponse
	ID CDATA #IMPLIED
	MaxScorePts CDATA #REQUIRED
	MinScorePts (0 | 1) "0"
	ResponseType CDATA #IMPLIED
	ScoringType CDATA #IMPLIED
	AnswerSize CDATA #IMPLIED
>
<!ELEMENT AnswerArea (%blocktext; | TextBox | Line)*>
<!ATTLIST AnswerArea
	Label CDATA #IMPLIED
	ID CDATA #IMPLIED
>
<!ELEMENT Rubric (%blocktext;)*>
<!ATTLIST Rubric
	Label CDATA #IMPLIED
	ID CDATA #IMPLIED
>
<!ELEMENT Line (%text;)*>
<!ATTLIST Line
	IndentLevel CDATA #IMPLIED
	ID CDATA #IMPLIED
>
<!-- Selected Response; multiple choice, where the answer choices
are given to the student and for which there is only one correct
answer -->
<!ELEMENT SelectedResponse (AnswerChoice)+>
<!ATTLIST SelectedResponse
	ID CDATA #IMPLIED
	NumberAnswerChoices (2 | 3 | 4 | 5 | 6) "4"
>
<!ELEMENT AnswerChoice (%text; | DistractorRationale)*>
<!ATTLIST AnswerChoice
	ID CDATA #REQUIRED
	Type (Distractor | Correct) "Distractor"
>
<!ELEMENT DistractorRationale (%text; | P)*>
<!ATTLIST DistractorRationale
	ID CDATA #IMPLIED
    DisplayMessage CDATA #IMPLIED
>
<!-- a component that is necessary to answer a given set of items -->
<!ELEMENT Stimulus (Graphic | Heading | Passage | Acknowledgement | BR)+>
<!ATTLIST Stimulus
	ID CDATA #IMPLIED
>
<!ELEMENT Acknowledgement (%text; | P)*>
<!ATTLIST Acknowledgement
	ID CDATA #IMPLIED
>
<!ELEMENT Heading (%text; | P)*>
<!ATTLIST Heading
	ID CDATA #IMPLIED
>
<!-- usually a reading passage from which the student must gather
facts and reach conclusions -->
<!ELEMENT Passage (%text; | P)*>
<!ATTLIST Passage
	LengthInWords CDATA #IMPLIED
	Readability CDATA #IMPLIED
	Genre CDATA #IMPLIED
	ID CDATA #IMPLIED
>
<!-- emphasis, etc in all caps for Flash client -->
<!ELEMENT B (#PCDATA | U | I | BR | FONT)*>
<!ELEMENT I (#PCDATA | U | B | BR | FONT)*>
<!ELEMENT U (#PCDATA | I | B | BR | FONT)*>
<!ELEMENT FONT (#PCDATA | U | I | B)*>
<!ATTLIST FONT
	FACE CDATA #IMPLIED
	SIZE CDATA #IMPLIED
	COLOR CDATA #IMPLIED
>
<!ELEMENT P (#PCDATA | U | I | B | FONT | BR)*>
<!ATTLIST P
	IndentLevel CDATA #IMPLIED
	ALIGN (LEFT | CENTER | RIGHT) "LEFT"
>
<!-- break: line break by default; can also be page break -->
<!ELEMENT BR EMPTY>
<!ATTLIST BR
	Type (Line | Page) "Line"
>
<!-- common components -->
<!ELEMENT Graphic (BMPPrint | Flash | EPSPrint)*>
<!ATTLIST Graphic
	ID CDATA #IMPLIED
>
<!ELEMENT BMPPrint EMPTY>
<!ATTLIST BMPPrint
	ID CDATA #IMPLIED
	FileName CDATA #REQUIRED
	Alt CDATA #IMPLIED
	Height CDATA #IMPLIED
	Width CDATA #IMPLIED
	Position (Above | Below | Left | Right | Here | Center) "Here"
>
<!ELEMENT Flash EMPTY>
<!ATTLIST Flash
	ID CDATA #IMPLIED
	FileName CDATA #REQUIRED
	Alt CDATA #IMPLIED
	Height CDATA #IMPLIED
	Width CDATA #IMPLIED
	Position (Above | Below | Left | Right | Here | Center) "Here"
>
<!ELEMENT EPSPrint EMPTY>
<!ATTLIST EPSPrint
	ID CDATA #IMPLIED
	FileName CDATA #REQUIRED
	Alt CDATA #IMPLIED
	Height CDATA #IMPLIED
	Width CDATA #IMPLIED
	Position (Above | Below | Left | Right | Here | Center) "Here"
>
<!ELEMENT TextBox (BoxDirection?, BoxAnswer?)>
<!ATTLIST TextBox
	LineCount CDATA #REQUIRED
	IndentLevel CDATA #IMPLIED
>
<!ELEMENT BoxDirection (%text;)*>
<!ATTLIST BoxDirection
	IndentLevel CDATA #IMPLIED
	ID CDATA #IMPLIED
>
<!ELEMENT BoxAnswer (%text;)*>
<!ATTLIST BoxAnswer
	IndentLevel CDATA #IMPLIED
	ID CDATA #IMPLIED
>
<!ELEMENT OrderedList (ListItem+)>
<!ELEMENT UnorderedList (ListItem+)>
<!ELEMENT ListItem (%text; | P)*>

<!ELEMENT ThemePageContent (Graphic | Passage | BR)+>
<!ATTLIST ThemePageContent
	ID CDATA #IMPLIED
>