web-organizationmgmt/src/uploadOperation/UploadDownloadManagementService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="UploadDownloadManagementServiceDefinitions" targetNamespace="http://com/ctb/webservices" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://com/ctb/webservices" xmlns:s2="com.ctb.exception" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.ctb.exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="CTBBusinessException">
        <xs:annotation>
          <xs:documentation>/** 
 * CTBBusinessException
 * @author Nate_Cohen
 * Generic business exception type, all platform exceptions extend this
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CTBBusinessException" type="java:CTBBusinessException" xmlns:java="java:com.ctb.exception"/>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="com.ctb.exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="string" type="xs:string"/>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/ctb/webservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="uploadFile">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="serverFilePath" type="xs:string"/>
            <xs:element minOccurs="0" name="uploadDataFileId" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uploadFileResponse">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="uploadFile">
    <s0:part element="s1:uploadFile" name="parameters"/>
  </s0:message>
  <s0:message name="uploadFileResponse">
    <s0:part element="s1:uploadFileResponse" name="parameters"/>
  </s0:message>
  <s0:message name="CTBBusinessException">
    <s0:part element="s2:string" name="CTBBusinessException"/>
  </s0:message>
  <s0:portType name="UploadDownloadManagement">
    <s0:operation name="uploadFile" parameterOrder="parameters">
      <s0:input message="s1:uploadFile"/>
      <s0:output message="s1:uploadFileResponse"/>
      <s0:fault message="s1:CTBBusinessException" name="CTBBusinessException"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="UploadDownloadManagementServiceSoapBinding" type="s1:UploadDownloadManagement">
    <s3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="uploadFile">
      <s3:operation style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s3:body use="literal"/>
      </s0:output>
      <s0:fault name="CTBBusinessException">
        <s3:fault name="CTBBusinessException" use="literal"/>
      </s0:fault>
    </s0:operation>
  </s0:binding>
  <s0:service name="UploadDownloadManagementService">
    <s0:port binding="s1:UploadDownloadManagementServiceSoapBinding" name="UploadDownloadManagementSoapPort">
      <s3:address location="http://localhost:7001/platform-webservices/UploadDownloadManagement"/>
    </s0:port>
  </s0:service>
</s0:definitions>