SchedulingWebService/src/services/SchedulingWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="SchedulingWSServiceDefinitions" targetNamespace="http://services" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://services" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="SecureUser">
        <xs:sequence>
          <xs:element minOccurs="1" name="Id" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="Name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Password" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="UserType" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Session">
        <xs:sequence>
          <xs:element minOccurs="1" name="AccessCode" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Accommodations" nillable="true" type="java:Accommodation" xmlns:java="java:dto"/>
          <xs:element minOccurs="1" name="AssignmentId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="EndDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="EndTime" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="HasBreak" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="1" name="Id" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="Name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="StartDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="StartTime" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Status" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Students" nillable="true" type="java:Student" xmlns:java="java:dto"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Subtests" nillable="true" type="java:Subtest" xmlns:java="java:dto"/>
          <xs:element minOccurs="1" name="TestId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="TestLocation" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="TimeZone" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Accommodation">
        <xs:sequence>
          <xs:element minOccurs="1" name="AnswerBackgroundColor" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="AnswerFontColor" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="AnswerFontSize" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Calculator" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="ColorFontAccommodation" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Highlighter" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Id" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="Name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="QuestionBackgroundColor" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="QuestionFontColor" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="QuestionFontSize" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="ScreenMagnifier" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="ScreenReader" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="TestPause" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="UntimedTest" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Student">
        <xs:sequence>
          <xs:element minOccurs="1" name="AssignmentId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Birthdate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="FirstName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Gender" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Grade" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Id" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="LastName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="LoginName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="MiddleName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Password" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Status" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Subtest">
        <xs:sequence>
          <xs:element minOccurs="1" name="AccessCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Duration" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="Id" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="Name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Order" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:dto"/>
      <xs:element name="scheduleSession">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user" type="java:SecureUser" xmlns:java="java:dto"/>
            <xs:element name="session" type="java:Session" xmlns:java="java:dto"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scheduleSessionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:Session" xmlns:java="java:dto"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="scheduleSession">
    <s0:part element="s1:scheduleSession" name="parameters"/>
  </s0:message>
  <s0:message name="scheduleSessionResponse">
    <s0:part element="s1:scheduleSessionResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="SchedulingWS">
    <s0:operation name="scheduleSession" parameterOrder="parameters">
      <s0:input message="s1:scheduleSession"/>
      <s0:output message="s1:scheduleSessionResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="SchedulingWSServiceSoapBinding" type="s1:SchedulingWS">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="scheduleSession">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="SchedulingWSService">
    <s0:port binding="s1:SchedulingWSServiceSoapBinding" name="SchedulingWSSoapPort">
      <s2:address location="http://localhost:7001/SchedulingWebService/SchedulingWS"/>
    </s0:port>
  </s0:service>
</s0:definitions>