WebProject/src/testWebService/RosterStatusWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="RosterStatusWSServiceDefinitions" targetNamespace="http://services" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://services" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="SecureUser">
        <xs:annotation>
          <xs:documentation>/** 
 * This is the first object which passed into web service to perform authentication for security purpose 
 * This object contains information for user
 * The values which required from ACUITY through input are: 
 * userName, password, userType
 * @author Tai_Truong
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="Password" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="UserId" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="UserName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="UserType" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SessionStatus">
        <xs:annotation>
          <xs:documentation>/** 
 * This is the second object which passed into scheduling web service
 * @author Tai_Truong
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="SessionId" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" name="Status" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Students" nillable="true" type="java:StudentStatus" xmlns:java="java:dto"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="StudentStatus">
        <xs:annotation>
          <xs:documentation>/** 
 * This object contains information for students who will be created in OAS for an administration
 * The values which required from ACUITY through input are: 
 * assignmentId, firstName, lastName, gender, grade   
 * The values which OAS platform populated in return are:  
 * status, studentId, loginName, password
 * @author Tai_Truong
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="AssignmentId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Birthdate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="1" name="FirstName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Gender" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Grade" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="LastName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="LoginName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="MiddleName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Password" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="RosterStatus" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="StudentId" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:dto"/>
      <xs:element name="getRosterStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user" type="java:SecureUser" xmlns:java="java:dto"/>
            <xs:element name="session" type="java:SessionStatus" xmlns:java="java:dto"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRosterStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SessionStatus" xmlns:java="java:dto"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="getRosterStatus">
    <s0:part element="s1:getRosterStatus" name="parameters"/>
  </s0:message>
  <s0:message name="getRosterStatusResponse">
    <s0:part element="s1:getRosterStatusResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="RosterStatusWS">
    <s0:operation name="getRosterStatus" parameterOrder="parameters">
      <s0:input message="s1:getRosterStatus"/>
      <s0:output message="s1:getRosterStatusResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="RosterStatusWSServiceSoapBinding" type="s1:RosterStatusWS">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="getRosterStatus">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="RosterStatusWSService">
    <s0:port binding="s1:RosterStatusWSServiceSoapBinding" name="RosterStatusWSSoapPort">
      <s2:address location="http://localhost:7001/RosterStatusWebService/RosterStatusWS"/>
    </s0:port>
  </s0:service>
</s0:definitions>