dep-testdelivery-ctrl/schemas/sds-to-tms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"  >
	<xs:simpleType name="baseType">
		<xs:annotation>
			<xs:documentation>Base Type for Variables from QTI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="identifier"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="pair"/>
			<xs:enumeration value="directedPair"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cardinalityType">
		<xs:annotation>
			<xs:documentation>Abbreviated Cardinality Type for Variables from QTI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="s">
				<xs:annotation>
					<xs:documentation>Single</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="m">
				<xs:annotation>
					<xs:documentation>Multiple</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="o">
				<xs:annotation>
					<xs:documentation>Ordered</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lmsEventType">
		<xs:annotation>
			<xs:documentation>List of LMS events transmitted by the examinee workstation and/or edge server.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="lms_initialize">
				<xs:annotation>
					<xs:documentation>Start of a SCO or Assessment as required by SCORM.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lms_finish">
				<xs:annotation>
					<xs:documentation>End of a SCO or Assessment  as required by SCORM. The value set for the cmi.core.exit indicates a normal (blank), time-out or suspend exit condition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="stu_pause">
				<xs:annotation>
					<xs:documentation>Student has paused the test. The cmi.core.exit value will be set to suspend. LMS finish is not sent by the SCO. This may be followed by a student resume (normal) or a system disconnect (the student may restart in a different session).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="stu_resume">
				<xs:annotation>
					<xs:documentation>Student resume after a pause within the same session.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sys_disconnect">
				<xs:annotation>
					<xs:documentation>Workstation is disconnected from the server. Student may restart in a different session.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="stu_stop">
				<xs:annotation>
					<xs:documentation>Student has stopped the test. The cmi.core.exit will be set to blank indicating normal exit and an lms finish will be sent by the SCO. Student must restart in a different session.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="terminated">
				<xs:annotation>
					<xs:documentation>The terminology "terminated" is used to distinguish this test level event from the SCO state of "complete". The semantics of this term also convey that the test could be terminated due to a system defined rule, not just due to completion by the student.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="heartbeat">
				<xs:annotation>
					<xs:documentation>Minimal keep-alive message. This message is not persisted or forwarded to any servers above the edge server connected to the workstation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
    <xs:element name="ads_svc">
		<xs:annotation>
			<xs:documentation>TMS error response. See element &lt;student_feedback_data&gt; for a successful response.  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response">
					<xs:annotation>
						<xs:documentation>Wrapper element for method of same name.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="err_msg">
								<xs:annotation>
									<xs:documentation>Error message </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="method" type="xs:string" use="required"/>
						<xs:attribute name="status" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>For an error response status value is ERROR.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="code" type="xs:integer" use="required">
							<xs:annotation>
								<xs:documentation>Application error codes are "2001" and "2002".</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adssvc_request">
		<xs:annotation>
			<xs:documentation>Request a method of the Test Management Service (TMS) web service</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
                <xs:element name="get_feedback_data">
					<xs:annotation>
						<xs:documentation>Wrapper element for method of same name.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="lms">
								<xs:annotation>
									<xs:documentation>Wrapper for student scoring information for the current testing session.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sco" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>One or more subtest within a test. The student feedback itself is also a SCO.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="lsv" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>LMS Set Values containing student scoring information. This is exactly the same as the &lt;lsv&gt; element in the save_testing_session_data method used to upload result data to the TMS.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:all>
																<xs:element name="cmi.core" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="score.raw" type="xs:decimal" use="optional">
																			<xs:annotation>
																				<xs:documentation>The number of questions answered correctly by the student, out of the questions that can be scored by the testing client.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="score.max" type="xs:decimal" use="optional">
																			<xs:annotation>
																				<xs:documentation>The total number of questions presented to the student in the sub-test.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="exit" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation>SCORM values are:
"time-out"
"suspend"
""
"logout". Currently only "time-out" and "" are used.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="session_time" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation>HHHH:MM::SS.SS. Session time within the SCO.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="lesson_status" type="xs:string" use="optional">
																			<xs:annotation>
																				<xs:documentation>SCORM values are:
"incomplete"
"completed"</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ext.core" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="number_of_unscored_items" type="xs:int" use="optional" default="0">
																			<xs:annotation>
																				<xs:documentation>The number of written responses that will be scored later. The number of constructed response questions that have been responded to by the student. Constructed response questions that the student has not responded to are not included in this count.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="scid" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>SCO ID. The following IDs are reserved: "_TERMINATOR_", "_TEST_SESSION_" , "STUDENT_FEEDBACK"
</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="lsid" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The LMS session id of the current student testing session. This is to be used by the TMS to retrieve the student fedback data for one or more testing sessions completed by the student.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="scid" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The SCO id of the feedback element returned by the TMS in the login response XML data is included in the feedback request to provide closure between the login response and the feedback request. The only value currently suppported is "STUDENT_FEEDBACK".</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="save_testing_session_data">
					<xs:annotation>
						<xs:documentation>Wrapper element for method of same name.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Aggregation of one or more testing session data messages from one or more examinee workstations.</xs:documentation>
							</xs:annotation>
							<xs:element name="tsd" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>One or more messages containing testing session data from an examinee workstation. 

Testing session data is designed to be "idempotent", meaning that receiving and acting on the same message twice will not change the outcome. However, the message sequence number should always be checked to make sure that only newer messages overwrite values from older messages. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Aggregation of one or more events and runtime data, in any order,  from an examinee workstation.</xs:documentation>
										</xs:annotation>
										<xs:element name="lev" minOccurs="0">
											<xs:annotation>
												<xs:documentation>LMS event. Event enumeration: lms_initialize, lms_finish, stu_stop, stu_pause, stu_resume, sys_disconnnect, terminate, heartbeat</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="e" type="lmsEventType" use="required"/>
												<xs:attribute name="edt" type="xs:dateTime" use="optional">
													<xs:annotation>
														<xs:documentation>Event date/time. The examinee workstation date/time at which the event occurred. This value is based on the examinee workstation clock and may not be from the same source across multiple restarts and logins.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="lsv" minOccurs="0">
											<xs:annotation>
												<xs:documentation>LMS Set Value</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:all>
													<xs:element name="cmi.core" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="score.raw" type="xs:decimal" use="optional">
																<xs:annotation>
																	<xs:documentation>Student Feedback Data: Number of questions scored as correct by the testing client.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="score.max" type="xs:decimal" use="optional">
																<xs:annotation>
																	<xs:documentation>Student Feedback Data: Number of questions presented by the testing client.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="session_time" type="xs:string" use="optional">
																<xs:annotation>
																	<xs:documentation>HHHH:MM::SS.SS. Session time within the SCO.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="exit" use="optional">
																<xs:annotation>
																	<xs:documentation>SCORM values are:
"time-out"
"suspend"
""
"logout"</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="time-out"/>
																		<xs:enumeration value="suspend"/>
																		<xs:enumeration value=""/>
																		<xs:enumeration value="logout"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="lesson_status" use="optional">
																<xs:annotation>
																	<xs:documentation>SCORM values are:
"incomplete"
"completed"</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="incomplete"/>
																		<xs:enumeration value="completed"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ext.core" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Extensions for student feedback.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="number_of_unscored_items" type="xs:integer" use="optional" default="0">
																<xs:annotation>
																	<xs:documentation>Student Feedback Data: Number of written responses that will be scored later.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="ast" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Assessment State. This element is only required for session monitoring and restart and is not transmitted to the TMS.</xs:documentation>
											</xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="cur_eid" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>item id</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="rem_sec" type="xs:integer" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>remaining seconds</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
										</xs:element>
										<xs:element name="asv" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Assessment Set Value. This element is only required for  restart and is not transmitted to the TMS.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ist" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Item State</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Aggregation of response, outcome and context in any order.</xs:documentation>
													</xs:annotation>
													<xs:element name="rv" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Response Variable with single, multiple or ordered cardinality. For base type of "identifier", the text of the children value elements is set to the identifier of the choice selected by the examinee. For base type of "string", "integer" or "float", the text of the children value elements is set to the value of the student response. Strings are escaped using CDATA or individually escaping the characters.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="v" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="n" type="xs:token" use="required" fixed="RESPONSE">
																<xs:annotation>
																	<xs:documentation>Name</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="t" type="baseType" use="optional" default="identifier">
																<xs:annotation>
																	<xs:documentation>baseType from QTI</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="c" type="cardinalityType" use="optional" default="s">
																<xs:annotation>
																	<xs:documentation>Cardinality.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ov" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Outcome Variable</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="v" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="n" type="xs:token" use="required" fixed="SCORE">
																<xs:annotation>
																	<xs:documentation>Name
Common variable: SCORE</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="t" type="baseType" use="optional" default="integer"/>
															<xs:attribute name="c" type="cardinalityType" use="optional" default="s"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="isc" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Item Session Context. This element is required only for the item interaction and restart of an item and is not transmitted to the TMS</xs:documentation>
														</xs:annotation>
														<xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="sp" minOccurs="0" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Current subtest scratchpad contents</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="iid" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>Item ID from QTI Item</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="eid" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>Encrypted Object ID from the Object Bank.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="cst" use="required">
													<xs:annotation>
														<xs:documentation>completion_status 
allowed values: not_attempted, completed, incomplete, and unknown</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="not_attempted"/>
															<xs:enumeration value="completed"/>
															<xs:enumeration value="incomplete"/>
															<xs:enumeration value="unknown"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="dur" type="xs:float" use="optional">
													<xs:annotation>
														<xs:documentation>Duration in seconds. Cumulative time across multiple attempts of the item.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="mrk" type="xs:boolean" use="optional" default="0">
													<xs:annotation>
														<xs:documentation>Marked for Review. 0=false, 1=true.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="awd" type="xs:boolean" use="optional" default="0">
													<xs:annotation>
														<xs:documentation>Answered.  0=false, 1=true.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="audioItem" type="xs:boolean" use="optional" default="0">
													<xs:annotation>
														<xs:documentation>Audio Item.  0=false, 1=true.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="lsid" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>LMS testing session ID supplied by the LMS at the start of a testing session. This MUST be the same for multiple attempts of a test i.e. across all restarts of a test and/or multiple logins to the LMS.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="laid" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Optional LMS Attempt ID supplied by the LMS at the start of a testing session and at every subsequent attempt due to multiple restarts or logins. This MAY change across multiple logins to the LMS. The value is not interpreted or used by the assessment delivery system, and may be used by the LMS to associate the enclosed data with the LMS internal data structure.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="scid" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>SCO ID. The following IDs are reserved:
"_TERMINATOR_", "_TEST_SESSION_"</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="mseq" type="xs:integer" use="required">
										<xs:annotation>
											<xs:documentation>Message sequence number. An increasing number within a testing session. The numbers may not be sequential, but a higher number indicates a newer message that may overwrite information from a previous message.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="scdt" type="xs:dateTime" use="optional">
										<xs:annotation>
											<xs:documentation>Server Date and Time stamp. The SDS adds this time stamp when it receives the testing session data message from the examinee workstation.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="socc" type="xs:integer" use="optional" default="1">
										<xs:annotation>
											<xs:documentation>Occurrence number. A value greater than 1 indicates that the assessment was presented multiple times to the examinee. The Occurrence number does not change for a restart of the same assessment Occurrence.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
                                    <xs:attribute name="cid" type="xs:integer" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Correlation Id. </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="tts_speed_value" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Speech controller Value. </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="upload_audit_file">
					<xs:annotation>
						<xs:documentation>Wrapper element for method of same name.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Information for uploading audit file</xs:documentation>
							</xs:annotation>
							<xs:element name="tsd" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Message containing information for uploading audit file.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="lsid" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Test roster id:test access code</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="scid" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Item set id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="mseq" type="xs:integer" use="required">
										<xs:annotation>
											<xs:documentation>Message sequence number. An increasing number within a testing session. The numbers may not be sequential, but a higher number indicates a newer message that may overwrite information from a previous message.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="write_to_audit_file">
					<xs:annotation>
						<xs:documentation>Wrapper element for method of same name.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Information for writing to audit file</xs:documentation>
							</xs:annotation>
							<xs:element name="tsd" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Message containing information for uploading audit file.</xs:documentation>
								</xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
										<xs:element name="audit_file_text" minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Audit file text.</xs:documentation>
											</xs:annotation>
										</xs:element>
                                    </xs:sequence>
									<xs:attribute name="lsid" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Test roster id:test access code</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="scid" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Item set id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="mseq" type="xs:integer" use="required">
										<xs:annotation>
											<xs:documentation>Message sequence number. An increasing number within a testing session. The numbers may not be sequential, but a higher number indicates a newer message that may overwrite information from a previous message.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="get_subtest">
					<xs:annotation>
						<xs:documentation>Get subtest from ADS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
                        <xs:attribute name="subtestid" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>ADS subtest id</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="hash" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>ADS hash</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="key" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>ADS key</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="download_item">
					<xs:annotation>
						<xs:documentation>Get item from ADS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
                        <xs:attribute name="itemid" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>ADS item id</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="hash" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>ADS hash</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="key" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>ADS key</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="get_item">
					<xs:annotation>
						<xs:documentation>Get item from ADS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
                        <xs:attribute name="itemid" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>ADS item id</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="hash" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>ADS hash</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="key" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>ADS key</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="get_image">
					<xs:annotation>
						<xs:documentation>Get item from ADS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
                        <xs:attribute name="imageid" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>image id</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="complete_tutorial">
					<xs:annotation>
						<xs:documentation>Wrapper element for method of same name.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="lsid" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Test roster id:test access code</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="mseq" type="xs:integer" use="required">
							<xs:annotation>
								<xs:documentation>Message sequence number. An increasing number within a testing session. The numbers may not be sequential, but a higher number indicates a newer message that may overwrite information from a previous message.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="method" type="xs:string" use="required"/>
			<xs:attribute name="sdsid" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Site Server ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="token" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Security Token</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="adssvc_response">
		<xs:annotation>
			<xs:documentation>Response returned by TMS giving status of method call. If thre is a sceurity violation detected by a mismatch in scid, token or method on the request the server returns an HTTP 403 Forbidden error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="save_testing_session_data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tsd" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>If the status is OK the uploading server may delete this message from the store and forward queue. In case of error, the error element and detail are saved in an error area for future reference.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
                                        <xs:element name="next_sco" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Next subtest within a test</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="id" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>SCO ID. This is the globally unique ID of the sub-test.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="adsid" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>ADS object bank id for subtest</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
										<xs:element ref="error" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="lsid" type="xs:string" use="required"/>
									<xs:attribute name="scid" type="xs:string" use="required"/>
									<xs:attribute name="mseq" type="xs:integer" use="required"/>
									<xs:attribute name="status" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="OK"/>
												<xs:enumeration value="invalid_lsid"/>
												<xs:enumeration value="invalid_scid"/>
												<xs:enumeration value="invalid_lev"/>
												<xs:enumeration value="invalid_lsv"/>
												<xs:enumeration value="invalid_ist"/>
												<xs:enumeration value="invalid_cid"/>
												<xs:enumeration value="invalid_mseq"/>
												<xs:enumeration value="other_error"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
                
				<xs:element name="complete_tutorial">
					<xs:complexType>
                        <xs:attribute name="lsid" type="xs:string" use="required"/>
                        <xs:attribute name="mseq" type="xs:integer" use="required"/>
                        <xs:attribute name="status" use="required">
                            <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="OK"/>
                                <xs:enumeration value="invalid_lsid"/>
                                <xs:enumeration value="invalid_mseq"/>
                                <xs:enumeration value="other_error"/>
                            </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
					</xs:complexType>
				</xs:element>
                
				<xs:element name="upload_audit_file">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tsd" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>If the status is OK the uploading server may delete this message from the store and forward queue. In case of error, the error element and detail are saved in an error area for future reference.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="error" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="lsid" type="xs:string" use="required"/>
									<xs:attribute name="scid" type="xs:string" use="required"/>
									<xs:attribute name="status" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="OK"/>
												<xs:enumeration value="invalid_lsid"/>
												<xs:enumeration value="invalid_scid"/>
												<xs:enumeration value="invalid_lev"/>
												<xs:enumeration value="invalid_lsv"/>
												<xs:enumeration value="invalid_ist"/>
												<xs:enumeration value="audit_exists"/>
												<xs:enumeration value="other_error"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="write_to_audit_file">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tsd" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>If the status is OK the uploading server may delete this message from the store and forward queue. In case of error, the error element and detail are saved in an error area for future reference.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="error" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="lsid" type="xs:string" use="required"/>
									<xs:attribute name="scid" type="xs:string" use="optional"/>
									<xs:attribute name="status" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="OK"/>
												<xs:enumeration value="invalid_lsid"/>
												<xs:enumeration value="invalid_scid"/>
												<xs:enumeration value="invalid_lev"/>
												<xs:enumeration value="invalid_lsv"/>
												<xs:enumeration value="invalid_ist"/>
												<xs:enumeration value="other_error"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element> 
                <xs:element name="tms_status" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Status of TMS server</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="status" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="OK"/>
                                    <xs:enumeration value="error"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                
				<xs:element name="get_subtest">
					<xs:annotation>
						<xs:documentation>Get subtest from ADS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
                            <xs:element ref="error" minOccurs="0"/>
							<xs:element name="content" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Content of subtest encrypted.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
                        <xs:attribute name="subtestid" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="download_item">
					<xs:annotation>
						<xs:documentation>Get item from ADS</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
                            <xs:element ref="error" minOccurs="0"/>
							<xs:element name="content" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Content of subtest encrypted.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
                        <xs:attribute name="itemid" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
                
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="v">
		<xs:annotation>
			<xs:documentation>Value of Variable. Multiple value elements are used to hold the value of variables with multiple/ordered cardinality. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="error">
		<xs:annotation>
			<xs:documentation>Root node containing error details.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error_element" type="xs:string">
					<xs:annotation>
						<xs:documentation>This element contains the copy of the failed xml node and all children from the request.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="error_detail" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Option detailed error message.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="method" type="xs:string" use="optional"/>
			<xs:attribute name="status" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
    <xs:element name="student_feedback_data">
		<xs:annotation>
			<xs:documentation>TMS feedback data response </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="testing_session_data">
					<xs:annotation>
						<xs:documentation>Element containing student name</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="student_name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="title">
					<xs:annotation>
						<xs:documentation>Element containing title to be diaplayed and sub-test information in the expected display order.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="sco">
								<xs:annotation>
									<xs:documentation>One or more subtest related data with in a title</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="seq" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Sco sequence number. SCO elements must be ordered within this XML document, in ascending order of sequence number.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="title" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Sub-test Title to be displayed in the student feedback screen.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="id" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>SCO ID.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>Optional Title or Overall Test ID.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The title string to be displayed in the student feedback screen.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="lms">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sco" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>One or more subtest related data with in a title</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="lsv">
											<xs:annotation>
												<xs:documentation>LMS Set Value</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cmi.core">
														<xs:annotation>
															<xs:documentation>contains score.raw and score.max</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="score.raw" type="xs:decimal" use="required"/>
															<xs:attribute name="score.max" type="xs:decimal" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ext.core">
														<xs:annotation>
															<xs:documentation>contains number_of_unscored_items</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="number_of_unscored_items" type="xs:integer" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="scid" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>SCO ID must match //title/sco@id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="lsid" type="xs:string" use="required"/>
			<xs:attribute name="status" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>For a successful response status value is "OK". See element &lt;ads_svc&gt; for an error response.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="code" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
