web-scoring/src/webservice/ScoringServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="ScoringServiceServiceDefinitions" targetNamespace="http://webservice" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://webservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="invokeScoring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="testRosterId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invokeScoringResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scoreCompletedRostersForCustomer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scoreCompletedRostersForCustomerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scoreCompletedRostersForProduct">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="productId" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scoreCompletedRostersForProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scoreCompletedRostersForAdmin">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="testAdminId" nillable="true" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scoreCompletedRostersForAdminResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="invokeScoring">
    <s0:part element="s1:invokeScoring" name="parameters"/>
  </s0:message>
  <s0:message name="invokeScoringResponse">
    <s0:part element="s1:invokeScoringResponse" name="parameters"/>
  </s0:message>
  <s0:message name="scoreCompletedRostersForCustomer">
    <s0:part element="s1:scoreCompletedRostersForCustomer" name="parameters"/>
  </s0:message>
  <s0:message name="scoreCompletedRostersForCustomerResponse">
    <s0:part element="s1:scoreCompletedRostersForCustomerResponse" name="parameters"/>
  </s0:message>
  <s0:message name="scoreCompletedRostersForProduct">
    <s0:part element="s1:scoreCompletedRostersForProduct" name="parameters"/>
  </s0:message>
  <s0:message name="scoreCompletedRostersForProductResponse">
    <s0:part element="s1:scoreCompletedRostersForProductResponse" name="parameters"/>
  </s0:message>
  <s0:message name="scoreCompletedRostersForAdmin">
    <s0:part element="s1:scoreCompletedRostersForAdmin" name="parameters"/>
  </s0:message>
  <s0:message name="scoreCompletedRostersForAdminResponse">
    <s0:part element="s1:scoreCompletedRostersForAdminResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="ScoringService">
    <s0:operation name="invokeScoring" parameterOrder="parameters">
      <s0:input message="s1:invokeScoring"/>
      <s0:output message="s1:invokeScoringResponse"/>
    </s0:operation>
    <s0:operation name="scoreCompletedRostersForCustomer" parameterOrder="parameters">
      <s0:input message="s1:scoreCompletedRostersForCustomer"/>
      <s0:output message="s1:scoreCompletedRostersForCustomerResponse"/>
    </s0:operation>
    <s0:operation name="scoreCompletedRostersForProduct" parameterOrder="parameters">
      <s0:input message="s1:scoreCompletedRostersForProduct"/>
      <s0:output message="s1:scoreCompletedRostersForProductResponse"/>
    </s0:operation>
    <s0:operation name="scoreCompletedRostersForAdmin" parameterOrder="parameters">
      <s0:input message="s1:scoreCompletedRostersForAdmin"/>
      <s0:output message="s1:scoreCompletedRostersForAdminResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="ScoringServiceServiceSoapBinding" type="s1:ScoringService">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="invokeScoring">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="scoreCompletedRostersForCustomer">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="scoreCompletedRostersForProduct">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="scoreCompletedRostersForAdmin">
      <s2:operation style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="ScoringServiceService">
    <s0:port binding="s1:ScoringServiceServiceSoapBinding" name="ScoringServiceSoapPort">
      <s2:address location="http://localhost:7001/web-scoring/ScoringService"/>
    </s0:port>
  </s0:service>
</s0:definitions>