dep-scoring-ctrl/src/com/ctb/service/ScoringService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax25="http://vo.scoring.terranova.mhdigitallearning.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://ctb.mcgraw-hill.com/Acuity/Scoring" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ctb.mcgraw-hill.com/Acuity/Scoring">
    <wsdl:documentation>ScoringService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.scoring.terranova.mhdigitallearning.com/xsd">
            <xs:complexType name="AuthenticatedUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StudentScore">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="compositeScores" nillable="true" type="ax25:CompositeScore"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="contentAreaScores" nillable="true" type="ax25:ContentAreaScore"/>
                    <xs:element minOccurs="0" name="formId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="levelId" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="studentId" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CompositeScore">
                <xs:sequence>
                    <xs:element minOccurs="0" name="compositeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="compositeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gradeEquivalent" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="nationalPercentile" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="nationalStanine" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="normCurveEquivalent" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsAttempted" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsObtained" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsPossible" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="scaleScore" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContentAreaScore">
                <xs:sequence>
                    <xs:element minOccurs="0" name="contentAreaId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contentAreaName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gradeEquivalent" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="maxScaleScore" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="minScaleScore" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="nationalPercentile" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="nationalStanine" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="normCurveEquivalent" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="percentMastery" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="percentObtained" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="pointsAttempted" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsObtained" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsPossible" nillable="true" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="primaryObjScores" nillable="true" type="ax25:PrimaryObjScore"/>
                    <xs:element minOccurs="0" name="scaleScore" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="sem" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PrimaryObjScore">
                <xs:sequence>
                    <xs:element minOccurs="0" name="highModMasteryRange" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="lowModMasteryRange" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="masteryLevel" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="modMasteryRange" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nationalAverage" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="percentObtained" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="pointsAttempted" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsObtained" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsPossible" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="primaryObjId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="secondaryObjScores" nillable="true" type="ax25:SecondaryObjScore"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SecondaryObjScore">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itemScores" nillable="true" type="ax25:ItemScore"/>
                    <xs:element minOccurs="0" name="masteryLevel" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="percentObtained" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="pointsAttempted" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsObtained" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsPossible" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="secondaryObjId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ItemScore">
                <xs:sequence>
                    <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nationalAverage" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="pointsObtained" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="pointsPossible" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScoringStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="studentId" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax26="http://vo.scoring.terranova.mhdigitallearning.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ctb.mcgraw-hill.com/Acuity/Scoring">
            <xs:import namespace="http://vo.scoring.terranova.mhdigitallearning.com/xsd"/>
            <xs:element name="processStudentScore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="ax26:AuthenticatedUser"/>
                        <xs:element minOccurs="0" name="score" nillable="true" type="ax26:StudentScore"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processStudentScoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax26:ScoringStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processStudentScoreRequest">
        <wsdl:part name="parameters" element="ns:processStudentScore"/>
    </wsdl:message>
    <wsdl:message name="processStudentScoreResponse">
        <wsdl:part name="parameters" element="ns:processStudentScoreResponse"/>
    </wsdl:message>
    <wsdl:portType name="ScoringServicePortType">
        <wsdl:operation name="processStudentScore">
            <wsdl:input message="ns:processStudentScoreRequest" wsaw:Action="urn:processStudentScore"/>
            <wsdl:output message="ns:processStudentScoreResponse" wsaw:Action="urn:processStudentScoreResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ScoringServiceSoap11Binding" type="ns:ScoringServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processStudentScore">
            <soap:operation soapAction="urn:processStudentScore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ScoringServiceSoap12Binding" type="ns:ScoringServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processStudentScore">
            <soap12:operation soapAction="urn:processStudentScore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ScoringServiceHttpBinding" type="ns:ScoringServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="processStudentScore">
            <http:operation location="ScoringService/processStudentScore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="processStudentScore"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="processStudentScore"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ScoringService">
        <wsdl:port name="ScoringServiceHttpSoap11Endpoint" binding="ns:ScoringServiceSoap11Binding">
            <soap:address location="http://localhost/services/ScoringService.ScoringServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ScoringServiceHttpsSoap11Endpoint" binding="ns:ScoringServiceSoap11Binding">
            <soap:address location="https://localhost/services/ScoringService.ScoringServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ScoringServiceHttpsSoap12Endpoint" binding="ns:ScoringServiceSoap12Binding">
            <soap12:address location="https://localhost/services/ScoringService.ScoringServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ScoringServiceHttpSoap12Endpoint" binding="ns:ScoringServiceSoap12Binding">
            <soap12:address location="http://localhost/services/ScoringService.ScoringServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ScoringServiceHttpEndpoint" binding="ns:ScoringServiceHttpBinding">
            <http:address location="http://localhost/services/ScoringService.ScoringServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ScoringServiceHttpsEndpoint" binding="ns:ScoringServiceHttpBinding">
            <http:address location="https://localhost/services/ScoringService.ScoringServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>